body {
    margin: 0;
    background-image: url("../images/floralbg.png");
}

td {
    margin: 15px;
  }
  .tblimg {
    position: relative;
    display: inline-block;
    padding: 0;
    }
  
  .text-block {
    position: absolute;
    margin: 0 auto;
    left; 0;
    right: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    background-color: darkgrey;
  }